:root{
    /* Neutral Color */
--color-white:hsl(0, 0%, 100%);
--color-grey:hsl(0, 0%, 20%);
--color-dark-grey: hsl(0, 0%, 12%);
--color-off-black: hsl(0, 0%, 8%);

/* Primary Color */
--color-green:hsl(75, 94%, 57%);

}

body{
    background-color: var(--color-off-black);
    font-size: 14px;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    display: grid;
    height: 97vh;
   
    justify-content: center;
    align-items: center;
    text-align: center;
}
main{
    
    margin-top: ;
  background-color: var(--color-dark-grey);
 height: 100%;
 width: 100%;
 display: grid;
 text-align: center;
    align-items: center;
    justify-content: center;
    

}
.profile-image{
    border-radius: 50%;
    margin:2rem auto;
}
h1,p{
    color: var(--color-white);
    font-weight: 400;
}

.live{
    color: var(--color-green);
    border: none;
    font-weight: 700;
}
button{
    display: block;
    margin-bottom: 1rem;
    background-color: var(--color-grey);
    border-style: none;
    color: var(--color-white);
    font-weight: 700;
    
}
